.jumbotron {
  padding-top: 6rem;
  background-color: #ffa500;
}

.header {
  padding-top: 3.5rem;
  padding-left: 3rem;
}

#gallery {
  background-color: #ffa500;
}

.kepala {
  padding-left: 0rem;
  padding-top: 1rem;
}

section {
  padding-top: 0rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
